:root {
  --bg-color: #f8f8f8;
}

body {
  line-height: 150%;
}

h1 {
  font-size: 32px;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  letter-spacing: 17px;
}
h3 {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 14px;
  letter-spacing: 35px;
}

h4 {
  font-size: 28px;
  font-family: didot;
}

.text-small {
  font-size: 10px;
}
.header {
  text-align: center;
  padding: 48px 24px;
  background: var(--bg-color);
}

header h1 a,
header h3 a {
  text-decoration: none;
  color: black;
  opacity: 80%;
}
header h1 a:hover,
header h3 a:hover {
  color: black;
}
.navigation li {
  list-style-type: none;
  display: inline-block;
  padding: 50px 35px 0px 35px;
}

.navigation a {
  text-decoration: none;
  color: black;
}

.navigation a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.nav li {
  font-style: italic;
}

.familyPic img {
  height: 680px;
}

.Babies-pictures img,
.pregnancy-pictures img {
  opacity: 90%;
  padding: 12px 0;
  height: 500px;
  width: auto;
  object-fit: cover;
}
.family-pictures .col-4 {
  padding: 12px;
}
img.familyPic1,
img.familyPic2,
img.familyPic3 {
  opacity: 90%;
  height: 300px;
  width: 463.7px;
  object-fit: cover;
}
img.familyPic4,
img.familyPic5,
img.familyPic6 {
  opacity: 90%;
  height: 600px;
  width: 463.7px;
  object-fit: cover;
}

.footer {
  height: 10%;
}

.socialMedia img {
  width: 15px;
}
